@import url("https://fonts.googleapis.com/css?family=Cormorant:300,400,700");
.title {
  font-family: "Cormorant", Helvetica, Arial, sans-serif;
  font-size: 36px;
  margin: 15px 0 40px 0; }
  @media (min-width: 768px) {
    .title {
      margin: 10px 0 40px 0; } }
  @media (min-width: 962px) {
    .title {
      font-size: 40px; } }

.overlay__button, .btn {
  background-color: #D84348;
  padding: 0.4375em 0.8125em;
  margin: 0.625em;
  border: 0;
  border-radius: 0.4em;
  color: #fff;
  font-weight: 700;
  transition: background-color 0.5s; }
  .overlay__button:hover, .btn:hover {
    background-color: #e16d71;
    color: #fff; }
  .overlay__button:active, .btn:active {
    opacity: initial;
    padding: 0.375em 0.8125em 0.5em; }

.project {
  display: flex;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  width: 90%;
  min-height: 250px;
  border-radius: 0.4em;
  margin: 1.25em 0;
  position: relative;
  overflow: hidden; }
  @media (min-width: 768px) {
    .project {
      width: 45%;
      margin: 0.625em 0.625em 1.5625em 0.625em; } }
  @media (min-width: 962px) {
    .project {
      width: 30%;
      margin: 40px 0.625em; } }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/**
 * List styles
 */
ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "Cormorant", Helvetica, Arial, sans-serif;
  color: #fff;
  line-height: 50px; }

h1,
h2,
h3,
p {
  margin: 0; }

a {
  text-decoration: none;
  color: #fff; }

a:hover {
  color: #D84348; }

.title {
  color: #D84348; }
  .title__color {
    color: #D84348; }

.desc {
  font-size: 16px;
  margin: 0.625em 0 1.875em 0; }
  @media (min-width: 768px) {
    .desc {
      font-size: 20px; } }
  @media (min-width: 962px) {
    .desc {
      font-size: 26px; } }

.intro__description .intro__desc {
  font-size: 20px; }
  @media (min-width: 768px) {
    .intro__description .intro__desc {
      font-size: 26px;
      margin-right: 25px; } }

header {
  text-align: center;
  display: flex;
  flex-direction: column; }

.nav {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 100;
  background-color: rgba(19, 20, 22, 0.5);
  justify-content: space-around;
  padding: 0.625em 0 0; }
  .nav__item {
    width: 20%; }

.nav a {
  transition: transform 0.5s ease;
  border-radius: 50%;
  padding: 0.3125em; }
  .nav a:hover {
    transform: scale(1.2); }

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  text-align: center;
  padding: 0.625em;
  margin-top: 1.25em; }
  @media (min-width: 962px) {
    .footer {
      font-size: 26px; } }

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #292929; }

.wrapper {
  margin: 40px 25px 0 25px;
  text-align: center;
  border-bottom: 1px #fff3b3 solid;
  border-bottom: 1px #D84348 solid; }

.wrapper:last-child {
  border-bottom: none; }

.intro {
  display: flex;
  flex-direction: column-reverse;
  align-items: center; }
  @media (min-width: 768px) {
    .intro {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      background-position: right;
      background-size: contain;
      background-repeat: no-repeat; } }
  .intro__image {
    margin: 25px; }
    @media (min-width: 768px) {
      .intro__image {
        margin: auto; } }
  .intro__description {
    text-align: center; }
    @media (min-width: 768px) {
      .intro__description {
        text-align: left; } }
    @media (min-width: 768px) {
      .intro__description {
        text-align: left; } }

aside {
  display: flex;
  flex-direction: column;
  align-items: stretch; }

#portfolio {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.3125em 0;
  margin: 1.5625em 0;
  border-radius: 0.4em; }
  @media (min-width: 768px) {
    #portfolio {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch; } }

.project--1 {
  background-image: url("../img/projects/project-1.jpg"); }
.project--2 {
  background-image: url("../img/projects/project-2.jpg"); }
.project--3 {
  background-image: url("../img/projects/project-3.jpg"); }
.project--4 {
  background-image: url("../img/projects/project-4.jpg"); }
.project--5 {
  background-image: url("../img/projects/project-5.jpg"); }
.project--6 {
  background-image: url("../img/projects/project-6.jpg"); }
.project__overlay {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: translateX(-100%);
  background-color: #292929;
  padding: 0.5em;
  text-align: center; }

.project__overlay .list {
  justify-content: center;
  font-size: 15px;
  margin-left: 0.9375em; }
  .project__overlay .list__item {
    margin: 0.3125em; }

.overlay__buttons {
  margin: 0.3125em; }

.project__img,
.project__overlay {
  transition: transform 0.6s ease-out; }

.project:hover .project__overlay {
  transform: translateX(0); }

.contact, .about {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 1.25em auto;
  text-align: center; }

.social {
  width: 100%;
  margin: 0.9375em 0; }

.list {
  display: flex;
  width: 100%;
  justify-content: space-around; }

.list svg {
  transition: transform 0.5s ease; }
  .list svg:hover {
    transform: scale(1.2); }

.list .icon {
  width: 40px;
  height: 40px; }
  @media (min-width: 768px) {
    .list .icon {
      width: 80px;
      height: 80px; } }

img {
  width: 100%; }

.icon {
  width: 25px;
  height: 25px; }
  .icon--profile {
    width: 150px;
    height: 150px;
    border-radius: 50%; }

.path {
  fill: #fff;
  transition: fill 0.3s; }

a:hover .path {
  fill: #D84348; }

/*# sourceMappingURL=style.css.map */
